{{ define "main" }}
<section class="resume-section p-3 p-lg-5 d-flex flex-column">
  <div class="my-auto" >
    <form action="" onSubmit="return searchButton()">
      <input id="search-query" name="s"/>
      <input type="submit" value="Search!" />
    </form>
    <div id="search-results">
     <h3>Matching pages</h3>
    </div>
  </div>
</section>
<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
      ${ isset tags }<p>Tags: ${tags}</p>${ end }
      ${ isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
</script>

{{ $fuse := resources.Get "js/fuse.js" | minify | fingerprint -}}
<script src="{{ $fuse.Permalink }}" {{ printf "integrity=%q" $fuse.Data.Integrity | safeHTMLAttr }}></script>
{{ $mark := resources.Get "js/mark.js" | minify | fingerprint -}}
<script src="{{ $mark.Permalink }}" {{ printf "integrity=%q" $mark.Data.Integrity | safeHTMLAttr }}></script>
{{ $search := resources.Get "js/search.js" | minify | fingerprint -}}
<script src="{{ $search.Permalink }}" {{ printf "integrity=%q" $search.Data.Integrity | safeHTMLAttr }}></script>
{{ end }}